{% extends "base.html" %}
{% block title %}{{article.title}}{% endblock %}

{% block content %}
<h1>{{article.title}}</h1>
<div>
    Address: {{article.url}}
</div>
<div>
    Publish Date: {{article.publish_date}}
</div>
<div>
    Scanned Date: {{article.scanned_date}}
</div>
<div>
    <h2>Content</h2>
        {% for p in paragraphs %}
        <p>{{p.content}}</p>
        <div>
            <div>
        {% if p.image %}
        <a target="_blank" href={{p.image.image_location}}>
          <img src="{{p.image.image_location}}" width="600" height="400">
        </a>
        
    {% else %}
    <button type="button" onclick="generate_article_images({{article.id}})">Generate Images</button>
</div>
    
    {% endif %}
    <div>
        {% if p.audio %}
        <audio controls>
            <source src="{{p.audio.location}}" type="audio/wav">
          Your browser does not support the audio element.
          </audio>
                {% else %}
        <button type="button" onclick="generate_article_audio({{article.id}})">Generate Audio</button>
        {% endif %}
    </div>
    
</div>
    {% endfor %}
    
</div>

       
    <div>
        <h2>Video</h2>
    {% if video %}
    <video width="320" height="240" controls>
        <source src="{{video.location}}" type="video/mp4">
        
      Your browser does not support the video tag.
      </video>
    {% else %}
    <button type="button" onclick="generate_article_video({{article.id}})">Generate Video</button>
    {% endif %}
    </div>
    <div>
    <a href="/outlets/{{article.outlet__id}}">Return To Outlet</a>
</div>
{% endblock %}

