{% extends "base.html" %}
{% block title %}News Outlets{% endblock %}
    


{% block content %}

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>RSS Feed</th>
        <th>Last Scanned</th>
        <th>Scan</th>
    </tr>
    {% for x in outlets %}
    <tr>
        <td><a href="/outlets/{{x.id}}">{{x.id}}</a></td>
        <td>{{x.name}}</td>
        <td>{{x.rss_url}}</td>
        <td>{{x.rss_last_scanned}}</td>
        <td><button type="button" onclick="scan_rss({{x.id}})">Scan RSS</button></td>
    </tr>
    {% endfor %}
</table>

{% endblock %}